__pycache__/
*.py[cod]
*$py.class

.cache/
*.log

.venv/
env/
venv/

.vscode/

.ipynb_checkpoints/

*.pid
*.sock
*.env
docker-compose.override.yml

sentence_transformers/

.DS_Store
Thumbs.db

*.csv
*.xlsx
data/